*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  
  font-family: "PT Sans", Arial, sans-serif;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: black;
}
.container{
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
 }
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*------------------------------------INDEX-------------------------------------*/

/*------------------------------------HEADER-------------------------------------*/

.header{
  background-color: white;
}
.main-nav ul{
  display: flex;  
  padding: 15px 72px;
}
.main-nav li{
  color: black;
  line-height: 26px;
  list-style: none;
  font-weight: bold;
  width: 23%;
}
.main-nav li:nth-child(1){
  width: 0px;
}
.main-nav li:nth-child(4){
  margin-left: auto;
  text-align: right;
}
.main-nav li:nth-child(5){
  text-align: right;
}
.main-nav a:hover,
.main-nav a:focus{
  color: #81b3d2;
}
.main-nav a:active{
  color: #cacaca;
}
.logo-img{
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/*------------------------------------MAIN-------------------------------------*/

section{
  min-height: 507px;
  background-color: #d6e7f1;
  background-image: url('../img/background-sedona2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
section img{
  margin: 0 auto;
  padding-top: 53px;
  width: 460px;
  min-height: 450px;
}
.polygon{
  background-image: url('../img/polygon.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 57px;
}
.polygon-text{
  background-color: white;
  min-height: 218px;
  text-align: center;
}
.polygon-text h2{
  color: black;
  line-height: 26px;
  padding-top: 61px;
  padding-bottom: 30px;  
}

main{
  background-color: white;
}
main h3{
  color: black;
  font-size: 21px;
  line-height: 21px;
}
.wrap-text{
  color: white;
  background-color: #81b3d2;
  text-align: center;
}
.wrap-text h3{
  color: white;
  padding-top: 45px;
  padding-bottom: 3px;
}
.wrap{
  display: flex;
  min-height: 255px;
}
.wrap-text{
  width: 400px;
}
.wrap-text p{
  padding-top: 22px;
}
.wrap-photo img{
  display: block;
}

.intro{ 
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 82px;
}
.intro li{
  width: 33.3333%;
  list-style: none;
  padding-top: 100px;
  position: relative;
}
.intro li::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%); 
}
.intro li:first-child::before{
  background-image: url("../img/icon-1.svg");
  background-position: top;
  background-repeat: no-repeat;
}
.intro li:nth-child(2)::before{
  background-image: url("../img/icon-3.svg");
  background-position: top;
  background-repeat: no-repeat;
}
.intro li:last-child::before{
  background-image: url("../img/icon-2.svg");
  background-position: top;
  background-repeat: no-repeat;
  height: 76px;
  top: -4px;
}
.intro h3, 
.intro-2 h3 {
  padding-bottom: 25px;
}
.intro-2{
  background-color: #eeeeee;
  text-align: center;
  display: flex;
  padding: 0 58px;
  padding-top: 48px;
  padding-bottom: 60px;
  justify-content: space-between;
}
.intro-2 li{
  list-style: none;
  width: 26%;
}
.Advantages-num{
  padding-bottom: 20px;
}


/*------------------------------------FORM-------------------------------------*/
.form-title{
  text-align: center;
}
.form-title h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;  
  margin-top: 50px;
  margin-bottom: 23px;
}
.form-title p{
  line-height: 24px;
}
.form-title button{
  border: none;
}
.open-form{
  width: 568px;
  height: 85px;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
  margin-top: 47px;
}
.open-form:hover{
  background-color: #604e43;
}
.open-form:active{
  background-color: #503e33;
  color: #928a85;
}
.search-form{
  width: 568px;
  height: 395px;
  background-color: white;
  margin-left: 317px;
  position: absolute;
  padding: 55px;
}
.search-form label{
  font-weight: bold;
  line-height: 26px;
}
.search-form input{
  background-color: #f2f2f2;
  border: none;
  line-height: 21px;
  font-weight: bold;
}
.search-form ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-form li{
  list-style: none;
}
.search-form input:hover{
  background-color: #ebebeb;
}
.search-form input:focus{
  outline-color: #e5e5e5; 
  background-color: white;
}
.date-on{
  width: 345px;
  min-height: 38px;
  margin-left: 18px;
  padding-left: 12px;
}
.date-off{
  width: 345px;
  height: 38px;
  margin-left: 14px;
  padding-left: 12px
}
.calendar{  
  position: absolute;
  background-image:url('../img/calendar.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  opacity: 0.5;
}
.calendar-on{
  top: 62px;
  right: 65px;
}
.calendar-off{
  top: 130px;
  right: 65px;
}
.calendar:hover{
  opacity: 1; 
}
.calendar:active{
  background-image: url('../img/Calendar-active.png');
}
.number{
  width: 63px;
  height: 38px;
  padding-left: 27px;
}
.search-form li:nth-child(3){
  display: flex;
  width: 100%;
}
.parents, 
.kids{
  display: flex;
  align-items: center;
}
.num{
  background-color: #f2f2f2;
  width: 27px;
  height: 38px;
}
.num-down{
  background-image: url('../img/minus.png');
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 38px;
}
.num-up{  
  background-image: url('../img/plus.png');
  background-position: left;
  background-repeat: no-repeat;
  margin-right: 52px;
}
.num-kids-down{
  background-image: url('../img/minus.png');
  background-position: right;
  background-repeat: no-repeat;
  margin-left: 26px;
}
.num-kids-up{
  background-image: url('../img/plus.png');
  background-position: left;
  background-repeat: no-repeat;
}
.num:hover{
  background-color: #ebebeb;
}
.num-down:hover{
  background-image: url('../img/minus-hover.png');
}
.num-up:hover{
  background-image: url('../img/plus-hover.png');
}
.num-kids-down:hover{
  background-image: url('../img/minus-hover.png');
}
.num-kids-up:hover{
  background-image: url('../img/plus-hover.png');
}
.num-kids-down:active{
  background-image: url('../img/minus-active.png');
}
.num-down:active{
  background-image: url('../img/minus-active.png');
}
.num-kids-up:active{
  background-image: url('../img/plus-active.png');
}
.num-up:active{
  background-image: url('../img/plus-active.png');
}
.search-btn{
  margin-top: 24px;
}
.search{
  width: 458px;
  height: 57px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: white;
}
.search:hover{
  background-color: #669ec0;
}
.search:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.map{
  width: 1200px;
  height: 590px;
  background-image: url('../img/map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/*------------------------------------FOOTER-------------------------------------*/
.footer{
  min-height: 116px;
  background-color: #fefefe;
  opacity: 0.9;
  text-align: center;
  display: flex;
  margin-top: -116px;
  padding: 0 92px;
  padding-top: 31px;
  justify-content: space-between;

}
.info{
  padding-left: 32px;
  width: 26%
}
.academy-site{
  display: flex;
  width: 20%;
  margin-left: 60px;
}
.academy-site p{
  padding-right: 6px;
  padding-top: 18px;
}
.info p{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0;
  padding-bottom: 5px;  
}
.social{
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding-top: 5px;
}
.social li{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  list-style: none;
  line-height: 55px;
}
.social li:nth-child(2){
  padding-top: 2px;
}
.social li:hover{
  background-color: #669ec0;
}
.social li:active{
  background-color: #5496bd;
}
.social li:active a{
  opacity: 0.5;
}
.academy div{
  background-image: url('../img/logo-htmlacademy.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 117px;
  height: 39px;
  margin-top: 10px;
}
.academy div:hover{
  background-image: url('../img/logo-htmlacademy-hover.png');
}
.academy div:active{
  background-image: url('../img/logo-htmlacademy-active.png');
}
/*------------------------------------CATALOG-------------------------------------*/

/*------------------------------------MAIN-------------------------------------*/
.container-2{
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}
fieldset{
  border: none;
}
fieldset, ul{
  padding: 0;
  margin: 0;
}
.checkbox legend{
  font-weight: bold;
  padding-bottom: 25px;
  font-size: 16px;
}
.catalog li{
  list-style: none;
}
.catalog h3{
  font-size: 21px;
  line-height: 26px;
}
.filter{
  background-color: #283b42;
  background-image: url('../img/filter-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  color: white;
}
.filter form{
  display: flex;
  padding: 27px 72px;
  padding-bottom: 32px;
}
.checkbox fieldset{
  width: 256px;
}
.checkbox{
  display: flex;
}
.checkbox ul{
  min-height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.check-input{
  position: absolute;
}
.check-box{
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: left;
  background-repeat: no-repeat;
  margin-left: -40px;
}
.check{
  padding-left: 40px;
}
.check-input:checked + .check-box{
  background-image: url("../img/checkbox-on.svg");
}
.check-input:disabled + .check-box{
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.5;
}
.check-input:focus:checked + .check-box{
  background-image: url("../img/checkbox-on.svg");
  box-shadow: 0 0 0 3px #4a90e2;
}
.check-input:focus + .check-box{
  background-image: url("../img/checkbox-off.svg");
  box-shadow: 0 0 0 3px #4a90e2;
}
.check-input:checked:disabled + .check-box{
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.5;
}
.filter-range{
  margin-left: auto;
}
.filter-range-title{
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
}
.price-controls{
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;

  background: #ffffff;
}
.price-controls label{
  display: inline-block;
  height: 7px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 156px;
  padding-left: 54px;
}
.price-controls .min-price{
  padding-left: 60px;
}
.price-controls input {
  width: 60px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.btn-filter {
  display: block;
  margin-left: 26%;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.sort{
  display: flex;
  align-items: center;
  padding: 32px 72px;
  padding-bottom: 28px;
}
.sort-head{
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.sort p{ 
  font-size: 12px;
  line-height: 18px;
}
.sort a{
  font-size: 12px;
  line-height: 18px;
}
.sort-select{
  width: 237px;
  display: flex;
  justify-content: space-between;
}
.sort h3, p{
  margin: 0;
  padding: 0;
}
.sort a{
  color: #dadada;
  border-bottom: 1px dotted #81b3d2;
  }
.sort a:hover{
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  }
.sort a:active{
  color: black;
  border: none;
  }
.arrow-1{
  background-image: url('../img/icon-up-dir.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.5;
  margin-right: 12px;
  margin-left: auto;
}
.arrow-2{
  background-image: url('../img/icon-down-dir.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.5;
}
.sort .arrow-1,
.sort .arrow-2 {
  border: none;
}
.sort .arrow-1:hover{
  border: none;
}
.sort .arrow-2:hover {
  border: none;
}
.arrow-1:hover{
  opacity: 1;
}
.arrow-2:hover{
  opacity: 1;
}
.arrow-1:active{
  background-image: url('../img/icon-up-dir-active.jpg');
  opacity: 1;
 }
.arrow-2:active{
  background-image: url('../img/icon-down-dir-active.jpg');
  opacity: 1;  
}
.hotels{
  margin-bottom: 120px;
}
.hotel-name{
  display: flex;
  align-items: center;
  padding: 30px 73px;
}
.hotels img{
  width: 135px;
  height: 90px;
  margin-right: 30px;
}
.hotels-info{
  width: 260px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotels-info h3{
  line-height: 15px;
}
.hotels-info p{
  display: flex;
  width: 100%;
}
.hotels-info span{
  margin-left: auto;
  margin-right: 80px;
}
.btn{
  display: flex;
  width: 99%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.rang{
  width: 110px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
.rang p{
  background-color: #f2f2f2;
  padding-bottom: 3px;
  padding-left: 16px;
}
.stars{
  display: flex;
  justify-content: flex-end;
}
.detailed{
  width: 110px;
  height: 27px;
  border: none;
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.detailed:hover{
  border: none;
  background-color: #669ec0;
  color: white;
}
.detailed:active{
  border: none;
  background-color: #5496bd;
  color: #94b9d2; 
}
.book{
  width: 142px;
  height: 27px;
  border: none;
  background-color: #766357;
  color: white; 
  text-transform: uppercase;
  font-weight: bold;
}
.book:hover{
  border: none;
  background-color: #604e43;
  color: white; 
}
.book:active{
  border: none;
  background-color: #503e33;
  color: #65564e; 
}
.stars li{
  background-image: url('../img/star.svg');
  background-position: top;
  background-repeat: no-repeat;
  width: 22px;
  height: auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: none;
}









